<!-- templates/fragments/header.html -->
<div th:fragment="navbar">

  <div class="header">
    <div class="logo" onclick="window.location.href='/'">CineMatch</div>

    <div class="nav-btns">
      <a th:href="@{/trending}" class="nav-btn">Trending</a>
      <a th:href="@{/upload}" class="nav-btn">Upload</a>
      <a class="nav-btn">Review</a>
      <a th:href="@{/quiz-selection}" class="nav-btn">Quiz</a>
      <button class="nav-btn" onclick="toggleDarkMode()">DarkMode</button>
        <a th:href="@{/login}" class="nav-btn login-btn">LogIn / SignUp</a>
    </div>
  </div>

</div>
